.calendar-widget-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr); 
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    color: grey;
  }
  
  .calendar-widget-dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr); 
    align-items: center;
    justify-content: center;
  }
  
  .calendar-widget-dates div  {
    text-align: center;
    padding: 10px;
    cursor:pointer
  }
  .calendar-widget-dates div:hover  {
    background-color: #a0beee;
    color: black;
    border-radius: 50%;
  }
  .calendar-widget-days div {
    text-align: center;
    padding: 10px;
  }
  
  .calendar-widget-dates div.selected {
    background-color: #a0beee;
    color: black;
    border-radius: 50%;
  }
  
  .calendar-widget-dates div.today {
    background-color: #3b82f6;
    color: white;
    border-radius: 50%;
  }
  
  .calendar-widget-dates div.prev-month-day,
  .calendar-widget-dates div.next-month-day {
    color: #ccc; 
    cursor: pointer;
  }
  
  .switch-weeks-widget {
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
    border: none;
    font-weight: lighter;
    font-size: 20px;
    cursor:pointer;
  }
  .switch-weeks-widget:hover {
    font-weight:bold;
  }
  
  .calendar-widget-header {
    display: flex;
    align-items: center;
    padding-left: 6px;
    justify-content: space-between;
    font-weight: 600;
    font-size: 20px;
  }
  