.event-popup {
  display: none;
  position: fixed;
  z-index: 4;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  width: 300px;
  max-width: 80%;
}

.event-popup-content {
  padding: 20px;
  position: relative;
}

.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}
.event-popup-content p {
  margin: 0;
}
